<style>
.hidden {
	display: none !important; 
}
</style>

<form name="inputForm"  autocomplete="on">

<!-- 	<input name="file" id="getimage" type="file" accept="image/*">  -->

	<input type="text" id="personnumber" placeholder="ååmmdd-XXXX" name="userPersonalNumber" pattern="^(19|20)?([0-9]{6})[- ]?([0-9]{4})$" required>   <!-- ng-model="user.orgnr" -->

	<input type="text" id="user-name" placeholder="Förnamn Efternamn" name="userName" required> <!-- ng-model="user.name" ng-model-options="{debounce: 1000}" ng-change="autofillDomain(user.name,user.domainname)" -->

	<input type="email"  id="user-email" placeholder="example@gmail.com" name="userEmail" required> <!-- ng-change="activateCreatePageButton()" ng-model="user.email" -->

	<input type="text" id="user-phone" placeholder="0701234567" name="userPhone" required> <!-- ng-model="user.phone" -->

	<input type="text" id="user-address" placeholder="Kungsgatan 1" name="userAddress" required> <!-- ng-model="user.address1" -->

	<input type="text" id="user-city" name="userCity" placeholder="Stockholm"> <!-- ng-model="user.city" ng-init="user.city='Stockholm'" -->

	<input type="text" id="user-zipcode" placeholder="12345" name="userZipcode" required> <!-- ng-model="user.zipcode" -->

	<!-- TODO: Add domain name field -->

	<div id="buttondiv">
		<button id="seButton" class="hidden" type="button"></button><br />
		<button id="nuButton" class="hidden" type="button"></button><br />
	</div>

	<div class="accept-terms hidden" id="accept-terms">
		<label>
			<fieldset>
				<input type="checkbox" class="accept-domain-checkbox"> <!-- ng-model="checkboxModel.value" -->
				Jag godkänner: <br />
				&bull; <a href="https://www.weld.io/terms" target="_blank">Welds användarvillkor</a><br>
				&bull; <a target="_blank" id="domain-terms"></a><br>
				&bull; <a href="https://www.nameisp.com/sv/about/conditions" target="_blank">NameISPs användaravtal</a><br />
			</fieldset>
		</label>
	</div>

	<span id="errorSpan" class="hidden">Beklagar! Din email-adress finns redan registrerad hos Weld.</span><br />

	<button type="submit" id="create-page-button" class="hidden">Skapa min sida!</button>


</form>

<script>

// var DEBUG_MODE = true;

// var SERVER_URL = 'https://www.weld.io/';
// if (DEBUG_MODE === 'staging') {
// 	SERVER_URL = 'https://weld-staging.herokuapp.com/';
// }
// else if (DEBUG_MODE) {
// 	SERVER_URL = 'http://localhost:9000/';
// }

$(document).ready(function() {
		var user = {};

		var autofillDomain = function() {
			// TODO: Add if conditional on domain field filled, otherwise use userName
			user.domainname = $('input[name=userName]').val().toLowerCase().replace(/[\s]/g, '');
			console.log("User domain from autofillDomain func: ", user.domainname);
			searchDomain(user);
		};

		// Listen for a change in the username input and run autofillDomain every 1 sec.
		$('input[name=userName]').on('change', _.debounce(autofillDomain, 1000));

		// TODO: Add listener for change on domain name input and run searchDomain, must pass it a user object

		// Listen for .SE or .NU domain selection and add ToS link to domain-terms
		$('#seButton').on('click', function () {
			$('#domain-terms').attr("href", "https://www.iis.se/domaner/registrera/se/villkor/").text('Avtal för toppdomänen .SE');
			$('#accept-terms').toggleClass('hidden');
			// TODO: Make it select the .SE domain as user.domainname
		});

		$('#nuButton').on('click', function () {
			$('#domain-terms').attr("href", "https://www.iis.se/docs/terms-and-conditions-nu.pdf").text('Avtal för toppdomänen .NU');
			$('#accept-terms').toggleClass('hidden');
			// TODO: Make it select the .NU domain as user.domainname
		});

		// Listen for checkbox being checked and add the register button:
		$('.accept-domain-checkbox').change(function() {
			$('#create-page-button').toggleClass('hidden');
		});

		var searchDomain = _.throttle(function(user) {
				// TODO: Handle the show/hide of buttons
				// Do a jQuery GET request to our domain-staging
				// TODO: Change to the production server
			var searchDomainUrl = "//domain-production-weld.herokuapp.com/api/lookup/" + user.domainname + '.se';
			$.get(searchDomainUrl, function (data, textStatus, jqXHR) {
				searchDomainNU(user);
				$('#seButton').html('Select ' + user.domainname + '.se').toggleClass('hidden');
				// TODO: Fix bug where it removes button on 2nd search
			})
			.fail(function(err) {
				console.log("SE Not available:", err.responseText, err);
				$('#seButton').html(user.domainname + '.se is unavailable').toggleClass('hidden');
				searchDomainNU(user);
				// Make the #seButton hide 
			});
		}, 3000);

		// TODO: Add buttons if domain is available or not.
		// TODO: Add link to terms.
		// TODO: Set user.domainname equal to the chosen one

		// After searching for a .SE domain, proceed to search for a .NU domain
		var searchDomainNU = _.throttle(function(user) {
			// TODO: Handle the show/hide of buttons
			// Do a jQuery GET request to our domain-staging
			// TODO: Change to the production server
			var searchDomainUrlNu = "https://domain-production-weld.herokuapp.com/api/lookup/" + user.domainname + '.nu';
			$.get(searchDomainUrlNu, function (data, textStatus, jqXHR) {
				$('#nuButton').html('Select ' + user.domainname + '.nu').toggleClass('hidden');// TODO: Fix bug where it removes button on 2nd search
			})
			.fail(function(err) {
				console.log("NU Not available:", err.responseText, err);
				$('#nuButton').html(user.domainname + '.nu is unavailable').toggleClass('hidden');
				// Make the #nuButton hide
			});
		}, 3000);

	// process the form
	$('form').submit(function(e) {

			// TODO: Add image uploader (Base-64)
			// TODO: Add pictureFile to the User object below
			// TODO: Make it access the domain name from here
			var user = {
				'orgnr': $('input[name=userPersonalNumber]').val(),
				'name': $('input[name=userName]').val(),
				'email': $('input[name=userEmail]').val(),
				'phone': $('input[name=userPhone]').val(),
				'address1': $('input[name=userAddress]').val(),
				'city': '{{user-city}}' || 'Stockholm',
				'zipcode': $('input[name=userZipcode]').val(),
				'countrycode': '{{user-country}}' || 'se',
				'tags': ["Opt-out: Welcome/Onboarding Email"]
			};

			var register = function() {
				console.log("Placeholder: Hello from the register function");
				console.log("user: ", user);

				
				
				// var data = JSON.stringify(user);
				// var registerUrl = SERVER_URL + 'api/users'; 
				// $.post(registerUrl, data)
				// .done(function(data) {
				// 	console.log("Data loaded: ", data)
				// 	// TODO: Handle registration, i.e. show loading image,
				// })
				// .fail(function() {
				// 	console.log("Error registering");
				// $('#errorSpan').toggleClass('hidden')
				// })
				// ;
			};
			register();

	e.preventDefault();
	});

});

</script>